PyPDF2
pdf2image
pytesseract
faiss-cpu
sentence-transformers
openai
tiktoken
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-openai
fastapi
uvicorn[standard]
python-multipart
python-dotenv
sqlite3
